body {
  margin: 0;
}

#app {
  display: flex;
  height: 99.8vh;
  font-family: sans-serif;
  flex-direction: row;
  justify-content: center; 
}

.sidebar {
  width: 240px;
  background-color: #e7f8ff;
  padding: 20px;
  position: relative;
  display: flex; 
  flex-direction: column; 
  transition: transform 0.3s ease-in-out; 
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.card {
  background-color: #e7f8ff; 
  border: none; 
  padding: 15px;
  margin-bottom: 15px;
}

.card h1, .card h2 {
  margin-top: 0;
  color: black;
}

.card p {
  margin: 5px 0 0;
  font-size: 14px;
  color: black; 
}

.conversations-list { 
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 10px; 
  width: 85%;
  margin-left: 5px;
  &::-webkit-scrollbar {
    width: 5px; 
  }

  &::-webkit-scrollbar-track {
    background: transparent; 
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

.delete {
  background-color: white;
  border: 1px solid #efe5e5;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 10px;
}

  .container {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    padding-top: 20px;
  }

.add-button-container {
  position: flex; 
  bottom: 25px; 
  width: calc(100% - 40px); 
  margin-left: 60%; 
  margin-bottom: 15px; 
  height: 15px;
} 

.add-conversation-button {
  position: flex;
  background-color: white;
  border: none;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
  font-size: 13px;
  height: 35px
}

.add-conversation-button:hover {
  background-color: #e1e9f1; 
}

.conversation-s {
  padding: 10px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 8px;
}

.conversation-s.active { 
  outline: 2px solid rgb(136, 203, 119); 
  outline-offset: -2px; 
}

.fa-robot {
  margin-bottom: 5px;
}

.model-selection {
  margin-top: 20px;
  height: 10%;
  margin-right: 10px; 
}

.model-selection label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.model-selection select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
}

.sidebar h1 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li:hover {
  background-color: #f2f0f0;
}

.chat-window {
  flex-grow: 1;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column; 
  width: calc(100% - 250px); 
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  &::-webkit-scrollbar {
    width: 5px; 
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent; 
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2); 
  }
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  line-height: 1.75;
}

.message.user {
  justify-content: flex-end;
}

.message.user .content {
  background-color: #e7f8ff;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-all;
  white-space: pre-wrap;
}

.message.bot .content {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  font-size: 16px;
  word-wrap: break-word;
}

.input-area {
  align-items: center;
  padding: 15px 1px;
  background-color: white;
  border-top: 1px solid #ccc;
  height: 100px;
}

#input {
  background: white;
  font-size: 16px;
  width: 100%;
  height: auto;
  border-radius: 5px; 
  padding: 10px;
  border: none;
  resize: none; 
  flex-grow: 1; 
  margin-right: 10px; 
  outline: none;
}

.input-area button {
  padding: 8px 16px; 
  background-color: rgba(36, 160, 255, 0.9); 
  color: white; 
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap; 
  display: flex; 
  align-items: center; 
  position: flex;
  height: 35px;
  margin-right: 8px; 
  margin-top: 30px; 
  margin-bottom: 10px; 
}

.input-area button::before { 
  content: '\f1d8'; 
  font-family: 'Font Awesome 5 Free'; 
  font-weight: 800; 
  margin-right: 5px; 
}

.chat-input {
  cursor: text;
  display: flex;
  flex: 1 1;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px; 
  margin-left: 11px;
}

.chat-input:focus-within { 
  outline: none;
  border-color: rgb(136, 203, 119); 
  box-shadow: 0 0 5px rgba(68, 176, 58, 0.5); 
}

.message .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.message.user .avatar {
  margin-left: 10px;
  margin-right: 0;
}

.message .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#scroll-to-bottom {
  position: fixed;
  bottom: 110px;
  right: 45%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

img {
  width: 100%;
  aspect-ratio: 7 / 4;
  object-fit: cover;
}

/* 手机端样式 */
@media (max-width: 600px) {
  #app {
    flex-direction: column; 
  }

  .sidebar {
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 10; 
  }

  .sidebar.active { 
    transform: translateX(0); 
  }

  .chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99.5%;
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .conversation-name {
    font-weight: bold;
    margin-left: 12px;
  }

  .conversations-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    width: 80%;
    margin-left: 1%;
  }

  .model-selection {
    margin-top: 20px;
    height: 10%;
    width: 80%;
  }

  .add-button-container {
      position: flex;
      bottom: 25px;
      width: calc(100% - 40px);
      margin-left: 64%;
      margin-bottom: 60px;
      height: 15px;
  }

  .add-conversation-button {
    position: flex;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
    font-size: 13px;
    height: 40px
  }

  .message .avatar {
    width: 30px;
    height: 30px;
    margin-right: 6px;
  }
  
  p code {
    word-wrap: break-word; 
  }
   
  p a {
    word-wrap: break-word; 
  }

  p {
    word-wrap: break-word;
  }

  .copy-success-message {
    position: fixed;
    top: 15px;
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size:small;
  }

  .copy-success-message {
     position: fixed;
     right: 50%;
  }

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

}

/*电脑端样式*/
@media (min-width: 600px) {
  .back-button {
    display: none;
  }

  .chat-header {
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .conversation-name {
    font-weight: bold;
    margin-left: 12px;
    font-size: 22px;
  }
}

.back-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.upload-button {
  margin-left: 15px;
  margin-bottom: 7px;
  display: flex;
  width: 20px;
}