body {
  margin: 0;
}

#app {
  display: flex;
  height: 99.8vh;
  font-family: sans-serif;
  flex-direction: row;
  justify-content: center; /* 垂直居中 */ 
}

.sidebar {
  width: 240px;
  background-color: #e7f8ff;
  padding: 20px;
  position: relative;
  display: flex; /* 使用 flexbox 布局 */
  flex-direction: column; /* 设置垂直排列 */
  transition: transform 0.3s ease-in-out; /* 添加过渡效果 */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.card {
  background-color: #e7f8ff; /* 卡片背景颜色 */
  border: none; 
  padding: 15px;
  margin-bottom: 15px;
}

.card h1, .card h2 {
  margin-top: 0;
  color: black;
}

.card p {
  margin: 5px 0 0;
  font-size: 14px;
  color: black; /* 浅灰色文字 */
}

.conversations-list { /* 为对话列表添加一个容器 */
  flex-grow: 1; /* 占据剩余空间 */
  overflow-y: auto; /* 允许垂直滚动 */
  padding: 10px; 
  width: 85%;
  margin-left: 5px;
  &::-webkit-scrollbar {
    width: 5px; /* 设置滚动条宽度 */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* 隐藏滚动条轨道 */
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); /* 设置滚动条滑块颜色 */
    border-radius: 5px; /* 设置滚动条滑块圆角 */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2); /* 鼠标悬停时滚动条滑块颜色 */
  }
}

.delete {
  background-color: white;
  border: 1px solid #efe5e5;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 10px;
}

  .container {
    display: flex;
    align-items: center; /* 将元素垂直居中对齐 */
    justify-content: flex-end; /* 将元素靠右对齐 */
    padding-top: 20px;
  }

.add-button-container {
  position: flex; 
  bottom: 25px; /* 距离底部 20px */
  width: calc(100% - 40px); /* 与侧边栏内边距保持一致 */
  margin-left: 60%; 
  margin-bottom: 15px; 
  height: 15px;
} 

.add-conversation-button {
  position: flex;
  background-color: white;
  border: none;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
  font-size: 13px;
  height: 35px
}

.add-conversation-button:hover {
  background-color: #e1e9f1; /* hover 效果 */
}

.conversation-s {
  padding: 10px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 8px;
}

.conversation-s.active { 
  outline: 2px solid rgb(136, 203, 119); /* 设置边框颜色和宽度 */
  outline-offset: -2px; /* 设置边框偏移量，使其在元素内部 */
}

.fa-robot {
  margin-bottom: 5px;
}

.model-selection {
  margin-top: 20px;
  height: 10%;
  margin-right: 10px; /* 添加右边距 */
}

.model-selection label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.model-selection select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
}

.sidebar h1 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li:hover {
  background-color: #f2f0f0;
}

.chat-window {
  flex-grow: 1;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* 改为垂直排列 */
  width: calc(100% - 250px); /* 默认宽度 */
}

.chat-messages {
  flex-grow: 1; /* 占据剩余空间 */
  overflow-y: auto;
  padding: 10px;
  &::-webkit-scrollbar {
    width: 5px; /* 设置滚动条宽度 */
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* 隐藏滚动条轨道 */
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); /* 设置滚动条滑块颜色 */
    border-radius: 5px; /* 设置滚动条滑块圆角 */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2); /* 鼠标悬停时滚动条滑块颜色 */
  }
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message.user {
  justify-content: flex-end;
}

.message.user .content {
  background-color: #e7f8ff;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  word-break: break-all;
  white-space: pre-wrap;
}

.message.bot .content {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  font-size: 16px;
  word-break: break-all;
}

.input-area {
  align-items: center;
  padding: 15px 1px;
  background-color: white;
  border-top: 1px solid #ccc;
  height: 100px;
}

.input {
  background: white;
  font-size: 16px;
  width: 100%;
  height: auto;
  border-radius: 5px; 
  padding: 10px;
  border: none;
  resize: none; /* 禁止调整文本框大小 */
  flex-grow: 1; /* 占据剩余空间 */
  margin-right: 10px; /* 与按钮间距 */
  outline: none;
}

.input-area button {
  padding: 8px 16px;  /* 调整按钮内边距 */
  background-color: rgba(36, 160, 255, 0.9); /* 浅蓝色背景，可根据需要调整颜色和透明度 */
  color: white; /* 白色文字 */
  border: none;
  border-radius: 10px; /* 圆角按钮 */
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap; /* 防止文字换行 */
  display: flex; /* 让图标和文字在同一行 */
  align-items: center; /* 垂直居中对齐图标和文字 */
  position: flex;
  height: 35px;
  margin-right: 8px; /* 去除右边距 */
  margin-top: 30px; 
  margin-bottom: 10px; 
}

.input-area button::before { /* 添加发送图标 */
  content: '\f1d8'; /*  使用 Font Awesome 的发送图标，你需要引入 Font Awesome */
  font-family: 'Font Awesome 5 Free'; /*  指定 Font Awesome 字体 */
  font-weight: 800; /*  使用实心图标 */
  margin-right: 5px; /*  图标和文字间距 */
}

.chat-input {
  cursor: text;
  display: flex;
  flex: 1 1;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px; /* 与按钮间距 */
  margin-left: 11px;
}

.chat-input:focus-within { 
  outline: none;
  border-color: rgb(136, 203, 119); /* 获取焦点时的边框颜色 */
  box-shadow: 0 0 5px rgba(68, 176, 58, 0.5); /* 可选：添加阴影效果 */
}

.message .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.message.user .avatar {
  margin-left: 10px;
  margin-right: 0;
}

.message .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#scroll-to-bottom {
  position: fixed;
  bottom: 110px;
  right: 45%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

img {
  width: 100%;
  aspect-ratio: 7 / 4;
  object-fit: cover;
}

/* 手机端样式 */
@media (max-width: 600px) {
  #app {
    flex-direction: column; /* 将侧边栏和聊天窗口改为上下排列 */
  }

  .sidebar {
    width: 100%; /* 侧边栏占据整个屏幕宽度 */
    position: fixed; /* 固定侧边栏位置 */
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%); /* 默认隐藏侧边栏 */
    z-index: 10; /* 确保侧边栏在聊天窗口上方 */
  }

  .sidebar.active { /* 当侧边栏处于活动状态时 */
    transform: translateX(0); /* 显示侧边栏 */
  }

  .chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99.5%;
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .conversation-name {
    font-weight: bold;
    margin-left: 12px;
  }

  .conversations-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    width: 80%;
    margin-left: 1%;
  }

  .model-selection {
    margin-top: 20px;
    height: 10%;
    width: 80%;
  }

  .add-button-container {
      position: flex;
      bottom: 25px;
      width: calc(100% - 40px);
      margin-left: 64%;
      margin-bottom: 60px;
      height: 15px;
  }

  .add-conversation-button {
    position: flex;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
    font-size: 13px;
    height: 40px
  }

  .message .avatar {
    width: 30px;
    height: 30px;
    margin-right: 6px;
  }
  
  p code {
    word-break: break-all; 
  }
   
  p a {
    word-break: break-all; 
  }

  p {
    word-break: break-all;
  }

  .copy-success-message {
    position: fixed;
    top: 15px;
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size:small;
  }

  .copy-success-message {
     position: fixed;
     right: 50%;
  }

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

}

/*电脑端样式*/
@media (min-width: 600px) {
  .back-button {
    display: none;
  }

  .chat-header {
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .conversation-name {
    font-weight: bold;
    margin-left: 12px;
    font-size: 22px;
  }
}

.back-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.upload-button {
  margin-left: 15px;
  margin-bottom: 7px;
  display: flex;
  width: 20px;
}